@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.content {
  color: hsl(220, 15%, 55%);
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.heading {
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  color: hsl(218, 44%, 22%);
  font-weight: bold;
}

#card {
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 15px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
